@import "../../../themes/v1/scss/common";

.nav {
	display: flex;
	flex-direction: row;
	width: 100%;

	&__list {
		margin: 0 0 0 auto;
		padding: 0;
		display: flex;
		flex-direction: row;
	}

	&__item {
		height: inherit;
	}

	&__link {
		font-size: em(14);
		font-family: $font-heading;
		font-weight: 400;
		text-decoration: none;
		color: $white;
		padding: 0 em(15, 14);
		height: 100%;
		display: flex;
		align-items: center;
	}
}
